
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .5rem;
    max-width: 1000px;
}
.item {
    padding: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    border-radius: 1rem;
}
.red {
    background-color: red;
    grid-column-start:  1;
    grid-column-end: 4;
}
.blue {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: -1;

}
.green {
    background-color: green;
    grid-column-start: 2;
    grid-column-end: 4;

}
.purple {
    background-color: purple;
}

